
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.form-row{
  display: flex;
    flex-flow: column;
    align-items: start;
    padding-top: 10px;
}

.flexi-form-label{
  color: #888181;
  padding-bottom: 3px;
}

.form-row input
{
  height: 25px;
}


.Flexi-form-container
{
  padding: 25px;
}

.form-submit-info
{
  padding-top: 25px;
  color:#3c3c3c;
}
.url-params-container
{
  word-break: break-all;
}

.column.input-panel {
  border-right: 2px solid gainsboro;
}
@media (max-width: 600px) {
  .column {
      width: 100%;
  }

  .column.input-panel {
    border-right:0px;
    border-bottom: 2px solid gainsboro;
  }
}